{
  "openapi": "3.1.0",
  "info": {
    "title": "Skysay API",
    "version": "0.1.0",
    "description": "Agent-native telephony API for customer onboarding, credits, numbers, webhooks, gateways, and policy-gated calls. Request bodies are UTF-8. Send JSON: a body that is absent or whitespace-only reads as an empty object, and a JSON body that is not valid JSON, is not a JSON object, or is not UTF-8 returns 400. (The provider-callback routes that have always accepted application/x-www-form-urlencoded or text/plain still do.) A request carrying any Content-Encoding other than identity returns 415 \u2014 this API does not accept compressed request bodies. A required field that is missing, null or blank returns 400 naming the field."
  },
  "servers": [
    {
      "url": "https://api.skysay.ai"
    }
  ],
  "paths": {
    "/v1/organizations": {
      "post": {
        "summary": "Create a sandbox customer workspace when signup mode allows it",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created"
          }
        }
      }
    },
    "/v1/dashboard/bootstrap": {
      "post": {
        "summary": "Internal Auth.js-to-control-plane bootstrap for human dashboard sessions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardBootstrap"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Linked dashboard user, organization, project, membership, and session token"
          }
        }
      }
    },
    "/v1/dashboard/me": {
      "get": {
        "summary": "Read the current dashboard principal, workspace, project, membership, and wallet",
        "responses": {
          "200": {
            "description": "Dashboard principal"
          }
        }
      }
    },
    "/v1/dashboard/numbers": {
      "get": {
        "summary": "Read the bounded, customer-scoped Numbers aggregate",
        "description": "Returns the read-only data needed by the Numbers dashboard, including workspace-wide number_allowance (used, limit, remaining, can_add; null limit means no billed-number cap). Each number includes calling_readiness: bounded inbound routing/pricing blockers and destination-dependent outbound configuration. Outbound registration_status distinguishes pending, failed, registered, not_required and legacy; pending or failed caller-ID registration blocks outbound only and is retried independently of carrier-ready inbound activation. DIDWW capacity pricing can report capacity_hybrid_unsupported, capacity_separate_metering_unsupported, or capacity_plan_unavailable; these refuse only the affected number. Inbound readiness remains indeterminate when mandatory call-time admission checks were not evaluated; a purchased number is not proof that calls can connect. The aggregate is tenant-bound to the bearer session, makes no provider calls or writes, and excludes provider internals, secrets, unrelated billing history, calls, SMS, and verification documents. An exact request return may include the most recent confirmed positive Stripe top-up summary for conversion capture. Pass project_id for an explicit project; when omitted, the response returns its selected default project. Bounded collections expose truncation flags rather than silently implying a complete export.",
        "parameters": [
          {
            "name": "number_request_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact request in the authenticated workspace project. An unavailable selection returns no selected request so the bounded Numbers list remains usable; never selects another request."
          }
        ],
        "responses": {
          "200": {
            "description": "Numbers workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/calls": {
      "get": {
        "summary": "Read the bounded, customer-scoped Calls aggregate",
        "description": "Public customer API for the Calls workspace view: the newest page of call history with its real total, the selected call's observability detail, the workspace agents, the latest trial, and the compact wallet snapshot the shared workspace header uses. It also reports, per call, which workflow version ran and a compact path through it -- step ids, chosen routes, tool statuses and sanitized policy reasons -- plus the full turn-grouped trace for the selected call. A selected transcript turn's has_audio flag is true only while an active recording and its linked turn clip are available; clients use the authenticated recording relay rather than a storage or artifact identifier. A call that ran no workflow is ABSENT from workflow_evidence rather than present and empty. The selected call's transcript also carries one server-ordered timeline interleaving its turns with the typed tool calls the agent finished and the language switches it made, ordered on the recording clock with a single truncation flag for both sources; turn entries reference the turns returned beside them rather than repeating their text. The selected call's waveform carries at most 256 peaks (a longer stored series is max-pooled, never cut) and speaker_segments: who spoke when on the recording's own clock, each with turn_id, speaker (agent or caller), start_ms and end_ms, projected only from turns whose boundary was measured on that recording, bounded by the same turn slice and reported with speaker_segments_truncated; a moment no segment covers is unattributed, not silent. The selected call's counterparty carries the other person's phone_e164 (the number called, or the caller's number on an inbound call; empty for a browser test) and contact_name, the name that number is saved under in this organization's contacts (the newest when several lists hold it; empty when none). Those rows are typed only: a tool entry carries its closed kind, an opaque reference, ok, a closed error class and a duration, and the configured tool name is resolved for display from the call's own agent configuration rather than stored - tool arguments, results, URLs, response bodies and error messages are never recorded. Each capability reports its own status and a closed reason, so a call handled before this existed, a gateway-imported call, a workflow call or an engine that does not record language switches is explicit about it and never reads as a call that made no tool calls. Bound to the bearer session organization; it never accepts an arbitrary organization, calls a provider, reconciles state, or writes data. The call's internal runtime configuration is never returned, and neither is a run's pinned contract. Both the path per row and the trace are bounded and report truncation; detail=0 omits the selected call's observability and its trace for routine freshness polls. Every response echoes calls_source_kind, the provenance it actually answered for, and calls_has_more, which says whether an older page exists -- observed by reading one row past the limit, never inferred from a page that happens to be full. Each call row carries source_kind, from the same closed set as the query parameter. The selected call's observability carries call_variables and its trace carries variables_evidence; call_variables lists what admission froze for the call -- each declared variable and built-in with its name, type, source (builtin, or the call's source: api, campaign, inbound_lookup, browser_test, simulation, trial), protected, requires and state -- plus the committed confirmation record (method, match_kind, step_id, step_name, turn_index, committed_at), bounded with limit, returned and has_more; state is ready, not_admitted (no snapshot) or unreadable. A value is returned only for an ordinary variable in state shown; a protected variable never carries a value, before or after confirmation, only its state: held (until a confirmation releases it) or released with released_at_turn. variables_evidence lists the run's knowledge_match outcomes (match, mismatch, abstain) and workflow SMS-step statuses (pending, sending, sent, failed, uncertain, recorded) in run order from one bounded read, with limit, returned and has_more; never an answer, a compared value, an SMS body, a recipient or a failure text.",
        "x-required-scopes": [
          "account:read",
          "calls:read",
          "recordings:read",
          "agents:read",
          "knowledge:read",
          "trial_calls:read",
          "wallet:read"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          },
          {
            "name": "call_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional canonical call ID in the selected project; it is resolved and pinned even when older than the newest page. A call_id that is not in the authenticated organization, the selected project and the requested source_kind is answered with selected_call_not_found=true, an empty selected_call_id and no selected call or detail -- never with a different call in its place; the page of calls is returned as usual. Without call_id the newest call is selected."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            },
            "description": "Maximum calls in the returned page."
          },
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "default": "1"
            },
            "description": "Set to 0 for a freshness poll: the selected call's observability and full workflow trace are omitted, the per-row workflow evidence is not."
          },
          {
            "name": "source_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "simulation_suite"
              ],
              "default": "live"
            },
            "description": "Which calls the page is about. `live` -- the default, and what this route has always returned -- is a call a customer or a caller actually made. `simulation_suite` is a Simulations Lab call: a real call row with the customer's own agent in it and a synthetic caller on the other end, created by the lab to run a scenario. The two are separate views of the same page, never mixed: one request answers for one provenance, and every figure in the response -- the page, calls_total, the selected call and the workflow evidence -- is about that provenance alone. A value outside this set is a 400 rather than a silent fall back to `live`."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A `page_cursor` from a row of a previous page. The response continues strictly older than that ROW, so calls created since do not shift the page under you the way an offset would. Opaque: its encoding is not part of this contract."
          }
        ],
        "responses": {
          "200": {
            "description": "Calls workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/calls/performance": {
      "get": {
        "summary": "Read the bounded, customer-scoped Calls Performance aggregate",
        "description": "Public customer API for the Calls Performance workspace view. It is bound to the bearer session organization; it never accepts an arbitrary organization, calls a provider, parses object storage, reconciles state, or writes data. It includes the compact wallet snapshot used by the shared workspace header, but no billing history. Pass call_id only for a call in the selected project. Existing calls without a normalized call-telemetry artifact return evidence.status=unavailable and no fabricated spans. The bounded spans collection is ordered by turn, offset, stage, and attempt; audit correlation IDs, raw prompts, queries, passages, and secrets are never returned.",
        "x-required-scopes": [
          "calls:read",
          "wallet:read"
        ],
        "security": [
          {
            "ApiKeyBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          },
          {
            "name": "call_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional canonical call ID in the selected project; latest scoped call is used when omitted."
          },
          {
            "name": "span_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 256,
              "default": 256
            },
            "description": "Maximum normalized spans to return. The default matches the bounded source artifact, so every retained span is returned; has_more still reports defensive truncation."
          }
        ],
        "responses": {
          "200": {
            "description": "Calls Performance workspace aggregate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallPerformanceDashboard"
                }
              }
            }
          },
          "404": {
            "description": "Requested call is not in the authenticated workspace"
          }
        }
      }
    },
    "/v1/dashboard/overview": {
      "get": {
        "summary": "Read the bounded, customer-scoped Overview aggregate",
        "description": "Returns one read-only workspace DTO for Overview SSR and freshness polling. Call rows include the compact component_billing wallet verdict used by Calls, without billing line items. Each number carries incoming_rule -- what that line does when it is called -- resolved for every number in one batched read, so the page can say which lines answer without a request per number. knowledge reports how many active knowledge bases the workspace has and how many documents are in them, as two counts rather than the bases themselves. The aggregate is tenant-bound to the bearer session, uses no provider calls, and omits provider internals, full verification profiles, secrets, invoices, and voice-stack configuration.",
        "responses": {
          "200": {
            "description": "Overview workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/agent-create": {
      "get": {
        "summary": "Read the bounded New-agent wizard aggregate",
        "description": "Returns one tenant-bound DTO for the hosted New-agent wizard. Start and Identity receive presets, the hosted language intersection, and the workspace wallet header \u2014 not existing agents, activity, numbers, credentials, catalogues, or the voice gallery. step=voice (and the retired step=review) adds the stack catalogue without embedded directory voices plus the same bounded gallery the editor embeds. Direct voice/pinned-voice links use that same one request. Pure read: no provider calls, writes, or secret retrieval.",
        "x-required-scopes": [
          "account:read",
          "agents:read",
          "wallet:read"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "starting-point",
                "identity",
                "voice",
                "review"
              ]
            },
            "description": "Current wizard step. voice and the retired review value include the voice-step catalogue and gallery."
          },
          {
            "name": "voice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pinned provider::model::voice_id so a library link remains in the bounded gallery."
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Draft language used to filter the voice-step gallery."
          }
        ],
        "responses": {
          "200": {
            "description": "New-agent wizard aggregate"
          }
        }
      }
    },
    "/v1/dashboard/agents": {
      "get": {
        "summary": "Read the bounded, customer-scoped Agents aggregate",
        "description": "Returns one tenant-bound Agents DTO for SSR. It includes resolved static voice-stack display data, which components the customer actually configured (as opposed to the catalog defaults the resolved stack fills in), every language each agent answers in (`selected_languages`, which is the agent's own `language` alone for an agent whose owner never chose a language set -- `language` remains the one that OPENS the call), an inbound-admission verdict per agent, attached number routing, exact UTC-day activity, each agent's measured reply time (the median of its recorded worker-side reply turns, or an explicit unavailable when nothing was measured -- never a component-constant estimate presented as an observation), and wallet currency without provider or catalog API calls, verification, invoice, SMS, or webhook service reads. The admission verdict is a pure read of workspace state: `admits`/`readiness` reflect only conditions the inbound call path itself would refuse over; `blockers` is not a strict subset of those -- a small, explicitly declared set of codes (currently a misconfigured transfer_to_human destination) is real and actionable but does not affect `admits`/`readiness`, because invoking that tool mid-call fails gracefully rather than refusing the call. `unevaluated` lists the conditions the read could not evaluate before a call exists, and `readiness` is blocked or indeterminate \u2014 never ready, because the gates that need the agent's number are not run here. A line-scoped readiness is reported by the Overview aggregate's primary_line. An agent answered by the customer's own service is judged on the endpoints it needs rather than on the managed stack it does not use. Soft-deleted agents are not part of the workspace: they are excluded from `agents` and from `total_agents`.",
        "responses": {
          "200": {
            "description": "Agents workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/agent-config": {
      "get": {
        "summary": "Read the bounded, customer-scoped hosted-agent editor aggregate",
        "description": "Returns one selected agent, its resolved stack including saved turn_taking, voice_polish, answer_detection and audio_environment settings, which components were actually configured (for a voice the agent never stored, voice_stack.language_profiles.default_voices names the default voice model of each supported language the shown voice cannot run, so a language added in the editor gets one too), the same inbound-admission verdict the Agents list carries, the runnable-adapter catalog (each entry carrying component_metered, so the launch-supported view is one filter over it rather than a second copy), a wallet projection, a bounded metadata-only BYOK credential list, and the agent's measured reply time: the median of a bounded sample of its recorded worker-side reply turns, reported as unavailable rather than zero until real calls exist. That figure ends when the first audio frame leaves the worker, so carrier transit and remote playout are not in it. It is bound to the dashboard session organization and selected project; it never decrypts credentials, calls a provider, validates a key, or writes state. It also carries `call_variables`: the AI agent's normalized call-variables config (declared fields, SMS templates, SMS mode, caller lookup), the `revision` a write names as `base_revision`, the `schema` its calls are admitted with (a published workflow's variables when one is active, with `workflow_version` and the agent's own earlier fields as `superseded_fields`), whether its voice engine is live, its languages, and at most 50 of the project's contact lists for caller lookup, newest first, with `lookup_lists_has_more`. It is written only through `PUT /v1/agents/{agent_id}/variables`.",
        "x-required-scopes": [
          "account:read",
          "agents:read",
          "calls:read",
          "gateways:read",
          "wallet:read",
          "knowledge:read",
          "numbers:read"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical agent ID in the authenticated project."
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted-agent editor aggregate"
          },
          "404": {
            "description": "Agent is not in the authenticated workspace"
          }
        }
      }
    },
    "/v1/dashboard/agent-workflow": {
      "get": {
        "summary": "Read the bounded, customer-scoped Workflow builder aggregate",
        "description": "Returns one selected agent's workflow draft (with a live, in-memory validation summary), the currently published version summary if any, and a bounded version history. Distinguishes an agent with zero workflows (workflow: null) from an existing draft. It also carries `call_variables`: `{\"active\": false}` until call variables are switched on, and then whether the AI agent looks callers up in a contact list (`caller_lookup`), which the draft's validation uses to walk protected values exactly as the draft update's response does. It is bound to the dashboard session organization and selected project; it never compiles server-side for a side effect, calls a provider, or performs a write.",
        "x-required-scopes": [
          "account:read",
          "agents:read",
          "wallet:read"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical agent ID in the authenticated project."
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow builder aggregate"
          },
          "404": {
            "description": "Agent is not in the authenticated workspace"
          }
        }
      }
    },
    "/v1/dashboard/simulation-suites": {
      "get": {
        "summary": "Read the workspace-wide Simulations Lab index",
        "description": "One tenant-bound, pure-read DTO for the workspace Simulations Lab page: every suite in the selected project across that project's AI agents, with its latest-run health, plus a bounded agent filter. Omitting project_id selects the workspace's first project rather than merging every project. Latest health is one batch join, never a lookup per suite, so the query count is fixed by the page rather than by how many suites the workspace owns. A suite that has never run reports never_run rather than an invented 0%. The page is bounded with an opaque cursor and an explicit has_more. Returns 404 while Simulations Lab is not enabled.",
        "x-required-scopes": [
          "account:read",
          "agents:read"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to one AI agent in this workspace."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace suite index"
          },
          "404": {
            "description": "Simulations Lab is not enabled, or the filtered agent is not in this workspace"
          }
        }
      }
    },
    "/v1/dashboard/agent-simulation-suites": {
      "get": {
        "summary": "Read one AI agent's slice of the same suite records",
        "description": "The same canonical suite rows the workspace index returns, already filtered to one agent. Not a second suite system and not a copy.",
        "x-required-scopes": [
          "account:read",
          "agents:read"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent-scoped suite index"
          },
          "404": {
            "description": "Agent not found, or Simulations Lab is not enabled"
          }
        }
      }
    },
    "/v1/dashboard/agent-simulation-suite": {
      "get": {
        "summary": "Read one suite's editor projection",
        "description": "Authored scenarios, suite policy, bounded run history, and workflow readiness for the suite's selected snapshot source. Pure read: it never repairs a suite, queues a run, or calls a provider.",
        "x-required-scopes": [
          "account:read",
          "agents:read"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suite_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suite editor aggregate"
          },
          "404": {
            "description": "Suite not found, or Simulations Lab is not enabled"
          }
        }
      }
    },
    "/v1/dashboard/agent-simulation-suite-run": {
      "get": {
        "summary": "Read one run with a bounded page of attempt results",
        "description": "The run's pinned identity, its per-scenario rollup, and one stably ordered page of attempts with an explicit has_more. Attempts are keyset-paginated so the query count stays constant as a suite is re-run. Also returns linkable_sessions: this AI agent's most recent Talk sessions and matched phone-test sessions that can be linked to an attempt as human evidence (newest first, at most 20, with linkable_sessions_page.has_more), carrying only the session id, kind, status, turn count and timestamps. Never returns the run's idempotency key, request fingerprint or pinned contract. Without recordings:read, attempt transcript, recording_ref and facts are omitted, assertion actual values and rubric rationale are omitted, and linked evidence omits notes. Status, verdicts and pagination remain available at the base scope, identically for API keys and OAuth MCP callers.",
        "x-required-scopes": [
          "account:read",
          "agents:read"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run results aggregate"
          },
          "404": {
            "description": "Run not found, or Simulations Lab is not enabled"
          }
        }
      }
    },
    "/v1/dashboard/knowledge": {
      "get": {
        "summary": "Read the bounded, customer-scoped Knowledge Bases aggregate",
        "description": "Returns one tenant-bound, read-only DTO for the Knowledge Bases page. It includes only lifecycle-safe base/document metadata and hosted-agent attachment ids; it never calls storage or a model, returns document bytes, passages, retrieval queries, provider credentials, or an unbounded document history.",
        "responses": {
          "200": {
            "description": "Knowledge Bases workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/integrations": {
      "get": {
        "summary": "Read the bounded, customer-scoped Integrations aggregate",
        "description": "Returns one tenant-bound, read-only DTO for customer Integrations, their bounded action metadata, hosted-agent attachments, and post-call extraction configuration. It never decrypts a signing secret, calls a customer endpoint, invokes a carrier, or returns endpoint URLs, secret material, arbitrary action arguments, or provider diagnostics.",
        "x-required-scopes": [
          "account:read",
          "agents:read",
          "wallet:read"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional project in the authenticated organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations workspace aggregate"
          },
          "404": {
            "description": "Project is not in the authenticated workspace"
          }
        }
      }
    },
    "/v1/dashboard/verification": {
      "get": {
        "summary": "Read the bounded, customer-scoped verification aggregate",
        "description": "Returns the selected verification profile, current number-type delta, and a batched summary of available number types. It is tenant-bound, read-only, and never syncs carrier data during a page load.",
        "parameters": [
          {
            "name": "number_request_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact request in the authenticated workspace project; an invalid context fails instead of selecting another request."
          }
        ],
        "responses": {
          "200": {
            "description": "Verification workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/onboarding": {
      "get": {
        "summary": "Read the bounded, customer-scoped setup aggregate",
        "description": "Returns compact setup-flow state for onboarding SSR. It is tenant-bound, read-only, and excludes provider reconciliation and unbounded history feeds.",
        "responses": {
          "200": {
            "description": "Onboarding workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/settings": {
      "get": {
        "summary": "Read the bounded, customer-scoped Settings aggregate",
        "description": "Returns the signed-in workspace's project, gateway deployments, phone servers, and static setup data in one read-only response. It does not call a provider or expose credentials.",
        "responses": {
          "200": {
            "description": "Settings workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/team": {
      "get": {
        "summary": "Read the bounded, customer-scoped Team aggregate",
        "description": "Returns the signed-in workspace's members and current membership in one read-only response.",
        "responses": {
          "200": {
            "description": "Team workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/api-keys": {
      "get": {
        "summary": "Read the bounded, customer-scoped API key aggregate",
        "description": "Returns API-key metadata only; key material and hashes are never returned. `connected_apps` lists the apps connected to the workspace over OAuth (`grants`, newest first, at most 50, with `has_more`); `enabled` is false, with an empty list, while OAuth sign-in is not available.",
        "responses": {
          "200": {
            "description": "API key workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/webhooks": {
      "get": {
        "summary": "Read the bounded, customer-scoped Webhooks aggregate",
        "description": "Returns project endpoints, recent delivery metadata, and retry policy without webhook secrets.",
        "responses": {
          "200": {
            "description": "Webhook workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/billing": {
      "get": {
        "summary": "Read the bounded, customer-scoped Billing aggregate",
        "description": "Returns one read-only Billing DTO for SSR and freshness polling, including workspace-wide number_allowance (used, limit, remaining, can_add; null limit means no billed-number cap). Wallet available_minor is purchased funds; promotional_available_minor is browser-only credit and total_available_minor is their combined amount. The aggregate is tenant-bound to the bearer session, uses no Stripe or carrier request, and bounds recent wallet activity and receipts.",
        "parameters": [
          {
            "name": "number_request_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact request in the authenticated workspace project; an invalid context fails instead of selecting another request. Requires numbers:read in addition to account:read, usage:read and wallet:read when present."
          }
        ],
        "responses": {
          "200": {
            "description": "Billing workspace aggregate"
          }
        }
      }
    },
    "/v1/dashboard/billing-history": {
      "get": {
        "summary": "Read the Billing history aggregate: usage by day or month and one page of the wallet ledger",
        "description": "Returns one read-only page DTO. `history` is wallet spend per UTC period (granularity `day` with periods up to 90, default 30; or `month` with periods up to 24, default 12; `end` optionally names the last day YYYY-MM-DD or month YYYY-MM), per category (`calls`, `sms`, `numbers`, `recordings`, `translations`, `other`), in the wallet's currency as integer minor units, with every period present. Spend is money the ledger recorded as spent; top-ups, refunds and call holds/releases are not spend. `ledger` is one page of wallet entries, newest first by (created_at, id), filtered by `type` (`all`, `topup`, `call`, `sms`, `number`, `recording`, `translation`, `refund`, `hold`, `other`) and an inclusive UTC date range `from`/`to` (YYYY-MM-DD, default the history window); pass `next_cursor` back as `cursor` while `has_more` is true. `matching_count` counts the filtered entries up to `export_row_cap`, and `matching_count_exceeds_export_cap` says the CSV export would be refused. `calls_split` divides the range's call spend into `phone_line_minor` (the carrier component's share of each hosted AI call, rounded down, or the whole of a call billed without hosted AI components) and `ai_agent_minor` (the rest); the two always add up to `calls_minor`. Each entry's `amount_minor` is how the entry reads to a customer: the amount spent, negative, for a charge (which is taken from an earlier hold), otherwise the change to available funds (a hold negative, its release positive, a credit positive); so amounts across a call's hold, charge and release do not sum to the balance change. `available_delta_minor` sums to the change in available funds and `spent_delta_minor` to spend. Entries carry only customer-safe fields: Stripe references in short form, a `call_id` only for a call in the same workspace, and an `sms_conversation_id` for an SMS charge. The ledger lists the whole organization's wallet, every project's entries alike, whatever `project_id` is passed (a `project_id` must belong to the session's organization, else 404). Each entry's `project_id` is the project of its call or SMS conversation (null when it has neither, or the conversation belongs to no project). The dashboard Calls and SMS pages read only the session's project, so the workspace links an entry's call or conversation only when the entry's `project_id` is that project. Tenant-bound to the bearer session; no provider request and no write.",
        "parameters": [
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month"
              ],
              "default": "day"
            }
          },
          {
            "name": "periods",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "topup",
                "call",
                "sms",
                "number",
                "recording",
                "translation",
                "refund",
                "hold",
                "other"
              ],
              "default": "all"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing history aggregate"
          },
          "400": {
            "description": "A range, filter or cursor is out of bounds or malformed"
          },
          "404": {
            "description": "The named project is not in the session's organization"
          }
        }
      }
    },
    "/v1/dashboard/billing-history/export": {
      "get": {
        "summary": "Export the filtered wallet ledger as CSV",
        "description": "Returns exactly the entries the Billing history ledger pages through for the same `type`, `from` and `to` (both required, YYYY-MM-DD, UTC, inclusive), in the same order, as `text/csv`. Columns: created_at, id, type, category, currency, amount (decimal), amount_minor, available_delta_minor, reserved_delta_minor, spent_delta_minor, promotional_spent_delta_minor, reference, call_id, sms_conversation_id, note. Integer minor-unit columns are the exact figures; amount_minor has the aggregate's meaning, available_delta_minor sums to the change in available funds and spent_delta_minor to spend. A file carries at most 10,000 entries: a larger selection is refused with 400 and a message asking for a shorter range, never truncated.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet ledger CSV",
            "content": {
              "text/csv": {}
            }
          },
          "400": {
            "description": "Missing or invalid range, or more than 10,000 matching entries"
          }
        }
      }
    },
    "/v1/dashboard/capabilities": {
      "get": {
        "summary": "Read the bounded, customer-scoped Capabilities aggregate",
        "description": "Returns one read-only Capabilities page DTO: the workspace's capabilities record (status, approved profiles, channels, all_countries/countries, calling rules and whether they are active), the caps that bind right now as `limits` (the workspace's velocity and spend risk controls above zero, not the profile caps projected at activation; a cap of zero is disabled and not listed), live usage against the caps, the use-case profile catalog a request offers, `campaigns` (whether campaigns are part of what this workspace may do: `included` for an active record with voice, `voice_required`, or `not_active`; and `every_launch_reviewed` for the custom implementation-services profile -- there is no per-profile campaign switch), the countries the workspace already has numbers in (bounded, with has_more), and its open capability reviews (bounded, with has_more). Tenant-bound to the bearer session; no provider request and no write.",
        "responses": {
          "200": {
            "description": "Capabilities workspace aggregate"
          }
        }
      }
    },
    "/v1/wallet": {
      "get": {
        "summary": "Read wallet balance and low-balance readiness against recurring and reserved costs",
        "responses": {
          "200": {
            "description": "Wallet summary"
          }
        }
      }
    },
    "/v1/wallet/ledger": {
      "get": {
        "summary": "List the most recent org-level wallet ledger entries and linked usage/call refs",
        "description": "One bounded page, newest first by `created_at`, ties by creation order, as an object: the items under `entries` and `pagination`. Follow `pagination.next_cursor` while `pagination.has_more` is true; a walk returns every row that exists for the whole walk exactly once. `totals` cover the entries on this page only. For filters by type and date, or a CSV export, use GET /v1/dashboard/billing-history and its /export.",
        "responses": {
          "200": {
            "description": "One page. Server-Timing and X-Skysay-Query-Count describe the read; Cache-Control is no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entries",
                    "pagination",
                    "organization_id",
                    "limit",
                    "count",
                    "currency",
                    "totals"
                  ],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "At most `limit` items, at most 500."
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Entries on this page."
                    },
                    "currency": {
                      "type": "string"
                    },
                    "totals": {
                      "type": "object",
                      "description": "Credit, debit, reserved and available deltas summed over this page's entries, in minor units (each also as *_cents)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`limit` outside its range or missing where required, a `cursor` that is not a `next_cursor`, no organization for an operator credential, or a project of another organization."
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional with a workspace key, which lists its own organization. An operator credential must name one: no list spans organizations."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            },
            "description": "Page size, 1 to 500; 100 when omitted. A value outside that range or not a whole number is a 400, never shortened."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The previous page's `pagination.next_cursor`, exactly as received. Anything else is a 400."
          }
        ]
      }
    },
    "/v1/billing/settings": {
      "get": {
        "summary": "Read wallet billing settings and auto-recharge readiness",
        "responses": {
          "200": {
            "description": "Billing settings"
          }
        }
      },
      "patch": {
        "summary": "Update safe auto-recharge settings without triggering a live charge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing settings"
          }
        }
      }
    },
    "/v1/billing/stripe/topup-sessions": {
      "post": {
        "summary": "Create a Stripe checkout topup session when enabled",
        "description": "Optional number_request_id must belong to the authenticated workspace/project and still be payment_required (requires numbers:read in addition to wallet:write). Return selection is rebuilt from this validated request and the configured website origin. Only a signed Stripe webhook credits funds. A still-payable or uncertain checkout with a different return context is refused; no second checkout is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StripeTopup"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stripe checkout session or disabled status"
          },
          "404": {
            "description": "Request not found in workspace project"
          },
          "409": {
            "description": "Stale request or conflicting open checkout (reason topup_context_conflict, known checkout_url when available)"
          }
        }
      }
    },
    "/v1/billing/stripe/webhook": {
      "post": {
        "summary": "Receive a signed Stripe checkout webhook and credit the wallet idempotently",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripe webhook processing result"
          }
        }
      }
    },
    "/v1/customer-onboarding": {
      "get": {
        "summary": "List business onboarding records",
        "responses": {
          "200": {
            "description": "One page. Server-Timing and X-Skysay-Query-Count describe the read; Cache-Control is no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer_onboarding",
                    "pagination"
                  ],
                  "properties": {
                    "customer_onboarding": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "At most `limit` items, at most 200."
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`limit` outside its range or missing where required, a `cursor` that is not a `next_cursor`, no organization for an operator credential, or a project of another organization."
          }
        },
        "description": "One bounded page, newest first, as an object: the items under `customer_onboarding` and `pagination`. Follow `pagination.next_cursor` while `pagination.has_more` is true; a walk returns every row that exists for the whole walk exactly once.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional with a workspace key, which lists its own organization. An operator credential must name one: no list spans organizations."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size, 1 to 200; 50 when omitted. A value outside that range or not a whole number is a 400, never shortened."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The previous page's `pagination.next_cursor`, exactly as received. Anything else is a 400."
          }
        ]
      },
      "post": {
        "summary": "Submit business onboarding details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerOnboarding"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Onboarding record"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/capabilities": {
      "get": {
        "summary": "Read the workspace's capabilities record, the selectable use-case profiles, and live usage against its caps",
        "description": "Pure read. Every workspace has exactly one record from creation on: `capabilities.status` is `not_activated` until the workspace clears verification (an operator's business review, or its first registration-free number), when it becomes `active` on the default profile, the channels the workspace holds and every destination except the sanctioned set (`all_countries: true`). `pending_review` means a request is with an Skysay operator and nothing new is authorized yet; `suspended` means an operator paused outbound. When `all_countries` is false, `countries` is the explicit allowlist (ISO 3166-1 alpha-2). `calling_rules` is the application cadence contract an operator recorded on approval, or null, and `calling_rules_active` says whether it is enforced right now. Every outbound call and SMS is authorized against this record (see POST /v1/policies/authorize-outbound).",
        "x-required-scopes": [
          "onboarding:read"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capabilities record, calling rules, available profiles and usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesDetail"
                }
              }
            }
          },
          "403": {
            "description": "The credential does not belong to this organization"
          },
          "404": {
            "description": "Unknown organization"
          }
        }
      },
      "post": {
        "summary": "Request or change the workspace's capabilities",
        "description": "Select the use-case profiles, channels and destinations outbound should be authorized for, and accept the outbound policy by sending `policy_version`. The destination choice is explicit: `all_countries: true` (every destination except the sanctioned set) or `countries` naming at least one well-formed ISO 3166-1 alpha-2 code. A request with neither, with an empty list, or with an entry that is not a two-letter code is refused with 400 and nothing is written, so an active allowlist is never widened or emptied by a request that was refused. A verified workspace that accepts the policy and selects no custom profile is activated immediately within the profiles' default caps; anything else opens an Skysay review, and what is already active stays active until the review resolves. `calling_rules` cannot be set here; an operator records them on approval.",
        "x-required-scopes": [
          "onboarding:write"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilitiesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The stored record, active or pending review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "400": {
            "description": "No valid profile selected, no destination chosen (all_countries or a non-empty countries list), an unrecognized country code, or calling_rules / the retired metadata.operational_profile supplied"
          },
          "403": {
            "description": "The credential does not belong to this organization"
          },
          "404": {
            "description": "Unknown organization"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/capabilities/destination-restrictions": {
      "post": {
        "summary": "Set optional workspace destination restrictions",
        "description": "Active workspaces only. Store customer narrowing independently of operator-granted capabilities. countries=null removes only this extra restriction; a non-empty array narrows calls and SMS to those available countries. No activation, spending, caller-ID or operator permission changes. revision must match destination_revision from GET capabilities; stale edits fail without writes. Runtime always intersects with current workspace, platform and number rules.",
        "x-required-scopes": [
          "onboarding:write"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "countries",
                  "revision"
                ],
                "properties": {
                  "countries": {
                    "type": "array",
                    "nullable": true,
                    "minItems": 1,
                    "maxItems": 300,
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Z]{2}$"
                    }
                  },
                  "revision": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved countries and incremented revision"
          },
          "400": {
            "description": "Invalid, stale or inactive selection; no changes"
          },
          "403": {
            "description": "Workspace access denied"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/capabilities/limit-requests": {
      "post": {
        "summary": "Request higher limits without changing current permissions or buying a plan",
        "x-required-scopes": [
          "onboarding:write"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review id and status"
          },
          "400": {
            "description": "Inactive workspace or invalid reason"
          },
          "403": {
            "description": "Workspace access denied"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/capabilities/accept-policy": {
      "post": {
        "summary": "Record acceptance of the outbound policy without changing the capabilities selection",
        "description": "Stores `policy_version` with the acceptance time and actor and leaves the profiles, channels, destinations, limits and status exactly as they are: it never activates, suspends or queues anything by itself. Use POST /v1/organizations/{organization_id}/capabilities to change what the workspace is authorized for.",
        "x-required-scopes": [
          "onboarding:write"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilitiesPolicyAcceptance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "400": {
            "description": "No policy_version supplied and none already stored"
          },
          "403": {
            "description": "The credential does not belong to this organization"
          }
        }
      }
    },
    "/v1/kyc/sessions": {
      "post": {
        "summary": "Start a didit.me KYC (individual) or KYB (business) verification session for an end-user profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id",
                  "profile_type"
                ],
                "properties": {
                  "organization_id": {
                    "type": "string"
                  },
                  "profile_type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "business"
                    ]
                  },
                  "end_user_profile_id": {
                    "type": "string"
                  },
                  "expected_details": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification session with hosted didit URL; reused when one is already pending or approved"
          }
        }
      }
    },
    "/v1/kyc/sessions/{end_user_profile_id}": {
      "get": {
        "summary": "Read KYC/KYB status and the extracted decision summary (no raw document URLs)",
        "responses": {
          "200": {
            "description": "KYC session state"
          }
        }
      }
    },
    "/v1/webhooks/didit": {
      "post": {
        "summary": "didit.me status webhook (HMAC-signed, idempotent on event_id); Approved fetches the decision once",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processing result"
          }
        }
      }
    },
    "/v1/numbers/requirements": {
      "get": {
        "summary": "Resolve honest activation requirements for a country/number-type/profile-type (override > live did_groups flag > dataset prefix flag; requirement text only documents fields)",
        "responses": {
          "200": {
            "description": "registration_required, carrier_proof_requirement (none|required|unknown), orderable (true|false|null) with not_orderable_reason (number_type_not_priced|carrier_bundles_channels), field/document lists, activation estimate, conflict_note"
          }
        }
      }
    },
    "/v1/verification/requirement-summaries": {
      "get": {
        "summary": "Resolve batched per-number-type verification deltas for one country and optional reusable profile",
        "responses": {
          "200": {
            "description": "Compatibility, reusable/pending/missing counts, and missing labels for each requested number type"
          }
        }
      }
    },
    "/v1/end-users/{end_user_profile_id}/submit-registration": {
      "post": {
        "summary": "Enqueue the carrier end-user registration chain (identity/address/proofs/verification) through the operator queue; identity is org-level and reused",
        "responses": {
          "201": {
            "description": "Per-step mutation request ids and per-number registration state"
          }
        }
      }
    },
    "/v1/end-users/{end_user_profile_id}/registration-status": {
      "get": {
        "summary": "KYC + carrier identity + per-number registration status with derived customer status, and a headline naming how many number registrations Skysay has submitted to the carrier (empty when none is currently submitted, and also when the profile is rejected or needs more information)",
        "responses": {
          "200": {
            "description": "Registration status"
          }
        }
      }
    },
    "/v1/numbers/{number_id}/activation": {
      "get": {
        "summary": "Customer-facing number activation state: instant | pending_verification | approved | needs_info | rejected with blocking items",
        "responses": {
          "200": {
            "description": "Activation state"
          }
        }
      }
    },
    "/v1/activation-state": {
      "get": {
        "summary": "Get live customer activation checklist and next action",
        "responses": {
          "200": {
            "description": "Activation state"
          }
        }
      }
    },
    "/v1/agent-endpoints": {
      "get": {
        "summary": "List agent webhook/audio endpoints",
        "responses": {
          "200": {
            "description": "One page. Server-Timing and X-Skysay-Query-Count describe the read; Cache-Control is no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent_endpoints",
                    "pagination"
                  ],
                  "properties": {
                    "agent_endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "At most `limit` items, at most 200."
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`limit` outside its range or missing where required, a `cursor` that is not a `next_cursor`, no organization for an operator credential, or a project of another organization."
          }
        },
        "description": "One bounded page, newest first, as an object: the items under `agent_endpoints` and `pagination`. Follow `pagination.next_cursor` while `pagination.has_more` is true; a walk returns every row that exists for the whole walk exactly once. `limit` is required on this list: a request without it is a 400, so a client that still reads the old array cannot mistake the refusal for an empty list and register a duplicate endpoint.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional with a workspace key, which lists its own organization. An operator credential must name one: no list spans organizations."
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this project's rows. A project of another organization is a 400."
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Page size, 1 to 200. Required. A value outside that range or not a whole number is a 400, never shortened."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The previous page's `pagination.next_cursor`, exactly as received. Anything else is a 400."
          }
        ]
      },
      "post": {
        "summary": "Connect an agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentEndpoint"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent endpoint"
          },
          "400": {
            "description": "organization_id, project_id, webhook_url or audio_stream_url is missing or blank, or events is supplied as something other than an array of known webhook event names (omit it, or send an empty array, to take the defaults)"
          }
        }
      }
    },
    "/v1/agent-endpoints/{agent_endpoint_id}": {
      "delete": {
        "summary": "Delete a webhook endpoint (soft: stops every delivery)",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      },
      "patch": {
        "summary": "Change which events this endpoint receives",
        "parameters": [
          {
            "name": "agent_endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentEndpointEventsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent endpoint"
          }
        }
      }
    },
    "/v1/agent-endpoints/{agent_endpoint_id}/pause": {
      "post": {
        "summary": "Pause webhook deliveries to this endpoint",
        "responses": {
          "200": {
            "description": "Agent endpoint"
          }
        }
      }
    },
    "/v1/agent-endpoints/{agent_endpoint_id}/resume": {
      "post": {
        "summary": "Resume a paused or auto-disabled webhook endpoint",
        "responses": {
          "200": {
            "description": "Agent endpoint"
          }
        }
      }
    },
    "/v1/agent-endpoints/{agent_endpoint_id}/test-event": {
      "post": {
        "summary": "Dispatch a signed test event through the real delivery pipeline",
        "responses": {
          "202": {
            "description": "Webhook delivery"
          }
        }
      }
    },
    "/v1/webhook-deliveries": {
      "get": {
        "summary": "List real webhook delivery attempts (status, attempts, last error, next retry)",
        "responses": {
          "200": {
            "description": "One page. Server-Timing and X-Skysay-Query-Count describe the read; Cache-Control is no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deliveries",
                    "pagination",
                    "event_catalog",
                    "retry_policy"
                  ],
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "At most `limit` items, at most 500."
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    },
                    "event_catalog": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "retry_policy": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`limit` outside its range or missing where required, a `cursor` that is not a `next_cursor`, no organization for an operator credential, or a project of another organization."
          }
        },
        "description": "One bounded page, newest first by `created_at`, ties by creation order, as an object: the items under `deliveries` and `pagination`. Follow `pagination.next_cursor` while `pagination.has_more` is true; a walk returns every row that exists for the whole walk exactly once. `event_catalog` and `retry_policy` are returned with every page.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional with a workspace key, which lists its own organization. An operator credential must name one: no list spans organizations."
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this project's rows. A project of another organization is a 400."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Page size, 1 to 500; 50 when omitted. A value outside that range or not a whole number is a 400, never shortened."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The previous page's `pagination.next_cursor`, exactly as received. Anything else is a 400."
          }
        ]
      }
    },
    "/v1/agents": {
      "get": {
        "summary": "List first-class agents",
        "responses": {
          "200": {
            "description": "One page. Server-Timing and X-Skysay-Query-Count describe the read; Cache-Control is no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agents",
                    "pagination"
                  ],
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "At most `limit` items, at most 200."
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`limit` outside its range or missing where required, a `cursor` that is not a `next_cursor`, no organization for an operator credential, or a project of another organization."
          }
        },
        "description": "One bounded page, newest first, as an object: the items under `agents` and `pagination`. Follow `pagination.next_cursor` while `pagination.has_more` is true; a walk returns every row that exists for the whole walk exactly once.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional with a workspace key, which lists its own organization. An operator credential must name one: no list spans organizations."
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this project's rows. A project of another organization is a 400."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size, 1 to 200; 50 when omitted. A value outside that range or not a whole number is a 400, never shortened."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The previous page's `pagination.next_cursor`, exactly as received. Anything else is a 400."
          }
        ]
      },
      "post": {
        "summary": "Create an external or hosted agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent. agent_endpoint.webhook_secret carries the plaintext secret that signs every event and tool call sent to this agent's webhook (X-Agent-Telco-Signature), revealed once in this response only; every later read returns [REDACTED]. Save it immediately."
          },
          "400": {
            "description": "organization_id or project_id is missing or blank; an unrecognized mode; a tools value that is neither empty nor a list; a metadata value that is neither empty nor an object; an external_audio or external_text agent missing its webhook_url/audio_stream_url; or a project_id this organization does not own. On create (unlike PATCH) a falsy tools or metadata -- null, false, 0, \"\" -- is read as an empty selection rather than refused"
          }
        }
      }
    },
    "/v1/agent-catalog": {
      "get": {
        "summary": "List runnable agent stack entries",
        "description": "Pass metered_only=true to receive only the launch-supported hosted components with a runtime adapter, native meter, pinned retail rate, and safe credential contract (validated BYOK where supported or an explicit platform-managed provider contract). The payload also includes conversation_engines: cascade (default STT/LLM/TTS) and gpt_live (GPT-Live-1 voices and Responses backends). Every engine row carries has_language_axis: true for cascade, false for a voice-to-voice engine that has no separate transcriber, LLM or TTS and therefore no language set, no per-language profile overrides and no Follow the caller. Read that flag rather than matching on the engine id: agent create and the voice-stack PATCH refuse languages / language_profiles / follow_caller for an engine whose row says false. A TTS row uses either immutable worker-approved voices or bounded provider-directory voices already ingested by Skysay; the catalog never fetches a provider during a read. Voice metadata and tags are provider-supplied and carry provenance; Skysay does not infer age, accent, or personality. When a provider supplies no per-voice language list, the row inherits only its qualified TTS model languages. voice_count and voices_truncated say when a provider inventory is partial. A resolved agent preserves its exact selected voice in its voice-stack response even outside a bounded catalog slice. Every TTS row carries `delivery_control`: `voice_settings`, `instruction` or `speed` when a `voice_polish.delivery` profile changes that engine's audio, or `unsupported` when the engine accepts and stores a profile without changing its audio (Fish Audio and Azure neural voices today); and `delivery_profiles`, the exact value each of the four profiles resolves to on that engine (a settings object such as stability/similarity_boost/style/speed, a speaking rate, or an instruction sentence), empty for `unsupported`. Both are read from the same packaged delivery table the call runtime and the voice preview use, so a client can state what a profile changes for a voice without a provider list of its own. Each tts entry also lists default_languages: the languages in `languages` where the voice may be chosen WITHOUT the owner choosing it (for example as the pre-selected voice of a new agent). A voice can run a language without being its default -- ElevenLabs eleven_v3 runs English but lists only Estonian -- and a client that pre-selects voices should respect it. This catalog does not authorize a provider credential or disclose provider secrets.",
        "parameters": [
          {
            "name": "component",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "stt",
                "llm",
                "tts"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metered_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent stack catalog"
          }
        }
      }
    },
    "/v1/workspace-context": {
      "get": {
        "summary": "Discover the bearer API key's own organization and bounded projects",
        "description": "A tenant-bound bootstrap read for an organization-bound credential. The route derives the organization exclusively from the bearer principal and rejects organization_id rather than accepting an arbitrary tenant selector. It returns only organization id/name and project id/name/environment in stable created_at,id order, with an exact count and explicit page metadata. It works for an empty-agent starter workspace and never reads users, credentials, provider/operator data, or secrets; it makes no provider call and performs no write, repair, or lazy creation.",
        "x-required-scopes": [
          "account:read"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe organization context and bounded project page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceContext"
                }
              }
            }
          },
          "400": {
            "description": "organization_id was supplied or a page value is malformed"
          },
          "403": {
            "description": "Credential is not linked to an organization"
          },
          "404": {
            "description": "The organization bound to the credential no longer exists"
          }
        }
      }
    },
    "/v1/voice-previews": {
      "post": {
        "summary": "Render one bounded managed voice-selector preview",
        "description": "An explicit Listen action for one selected TTS voice. It accepts a bounded caller sentence (defaulting to a short product sample only when no audio_environment is supplied), keeps no audio or telemetry, and returns a short in-memory WAV only. A selected outgoing audio_environment requires explicit non-blank text and makes a deterministic, headroom-safe local audition; it never substitutes the text, language, voice, or claims a receiver-side final mix. A small per-workspace fixed-window limit protects provider spend. Every language a provider advertises can be previewed. On a platform credential the voice must be one the workspace could browse and select, except an existing saved hosted agent may re-test its exact current platform-managed selection by supplying agent_id when it has disappeared from a listing; arbitrary typed IDs never create shared runtime evidence. With a selected BYOK credential the credential is validated at the provider and then used to render, so any voice id that provider accepts works, and a platform credential is never a fallback. A GPT-Live-1 voice (provider openai, model gpt-live-1) previews differently: it is a short real live session on the platform credential that speaks Skysay's own sample sentence for the requested language, rendered once per voice, language and sample and then served from a tenant-agnostic cache (the response carries text_source: platform_sample and cached). Typed text is refused with error code voice_preview_fixed_sample rather than replaced, credential_id and delivery do not apply, a platform-wide concurrency cap answers 429 when every preview slot is busy, and the preview is never metered as a call.",
        "x-required-scopes": [
          "agents:write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoicePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bounded base64-encoded WAV preview"
          },
          "400": {
            "description": "Invalid tenant-bound project, stack, voice, preview text, audio_environment, or a BYOK credential the provider did not accept; also typed text for a GPT-Live-1 voice (voice_preview_fixed_sample)"
          },
          "404": {
            "description": "The selected BYOK credential does not exist in this workspace"
          },
          "409": {
            "description": "The selected voice cannot be previewed in the requested language"
          },
          "429": {
            "description": "Voice-preview fixed-window limit reached, or every platform-wide GPT-Live preview slot is busy"
          },
          "503": {
            "description": "Managed preview unavailable"
          }
        }
      }
    },
    "/v1/audio-environments": {
      "get": {
        "summary": "List immutable audio-environment presets",
        "description": "Returns the backend-owned, versioned catalogue used by Voice Library, agent voice configuration, preview auditions and Simulation Lab. The catalogue is a pure local read: it contacts no TTS provider, makes no carrier call, changes no agent setting and returns no audio bytes. `off` is explicit. An agent's outgoing selection always pins preset id, asset version and volume; Simulation Lab's separate caller-input condition pins the same id/version with noise_level. Callers must not invent a frontend catalogue, silently substitute a retired version, or pass output ambience to STT.",
        "x-required-scopes": [
          "account:read"
        ],
        "responses": {
          "200": {
            "description": "Versioned audio-environment catalogue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioEnvironmentCatalogue"
                }
              }
            }
          },
          "503": {
            "description": "Packaged immutable catalogue is unavailable or incomplete"
          }
        }
      }
    },
    "/v1/hosted-ai-credentials": {
      "get": {
        "summary": "List bounded metadata for hosted AI BYOK credentials",
        "description": "Returns credential metadata only. Plaintext, ciphertext, nonce, encryption-key identifiers, and secret fingerprints are never returned.",
        "x-required-scopes": [
          "agents:read"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded credential metadata and pagination"
          }
        }
      },
      "post": {
        "summary": "Store a write-only hosted AI provider credential",
        "description": "Stores an encrypted credential in pending_validation status. The secret is accepted only in this request and is never returned. A selected BYOK component never falls back to platform credentials.",
        "x-required-scopes": [
          "agents:write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id",
                  "project_id",
                  "component",
                  "provider",
                  "secret"
                ],
                "properties": {
                  "organization_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "component": {
                    "type": "string",
                    "enum": [
                      "stt",
                      "llm",
                      "tts"
                    ]
                  },
                  "provider": {
                    "type": "string"
                  },
                  "secret": {
                    "type": "string",
                    "writeOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credential metadata in pending validation"
          }
        }
      }
    },
    "/v1/hosted-ai-credentials/{credential_id}/validate": {
      "post": {
        "summary": "Run a non-billable validation probe for a hosted AI credential",
        "description": "Only definitive credential rejection becomes invalid. Transient provider/network failure remains pending and cannot be selected for a call.",
        "x-required-scopes": [
          "agents:write"
        ],
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id",
                  "project_id"
                ],
                "properties": {
                  "organization_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential metadata with validation outcome"
          }
        }
      }
    },
    "/v1/hosted-ai-credentials/{credential_id}/revoke": {
      "post": {
        "summary": "Revoke a hosted AI credential",
        "description": "Revoked credentials cannot be selected or leased for a call.",
        "x-required-scopes": [
          "agents:write"
        ],
        "parameters": [
          {
            "name": "credential_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id",
                  "project_id"
                ],
                "properties": {
                  "organization_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked credential metadata"
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "summary": "List bounded metadata for reusable customer Integrations",
        "description": "Endpoint signing secrets are write-only and never returned.",
        "x-required-scopes": [
          "agents:read"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded Integration metadata and pagination"
          }
        }
      },
      "post": {
        "summary": "Create one reusable encrypted Integration and its first read action",
        "description": "The signing secret is accepted only in this request and is never returned. The required initial_action makes the setup atomic; no saved Integration exists without an allowed action.",
        "x-required-scopes": [
          "agents:write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "organization_id",
[...]
